.card {
  background-color: white;
  width: 250px;
  color: black;
  box-shadow: 5px 10px rgb(129, 60, 240);
  transition: all 0.25s ease-in-out;
  margin-bottom: 25px;
}

.card img {
  width: 100%;
}

.card:hover {
  transform: scale(1.05);
}

.card p {
  /*top right bottom left*/
  padding: 0px 10px 0px 30px;
}
